unittests/run_*.c
*.o
*.lo
Makefile.in
*.core
*.la
Makefile
.deps/
.libs/
unittests/test_bintree
unittests/test_ptrlist
unittests/test_hashmap
unittests/test_deque
unittests/test_heap
unittests/test_stack
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
src/srstest
stamp-h1
